body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
}

header {
    text-align: left;
    margin-bottom: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header h3 {
    margin-bottom: -5rem;
}

header a {
    margin-top: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

section {
    margin-bottom: 1.5rem;
}

h2 {
    border-bottom: 2px solid #007acc; /*#00bcd4;*/
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

.workexperience {
    text-align: justify;
}

footer {
    text-align: center;
}

.flexposition {
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
}

.position, .date {
    margin-left: 5px;
    text-align: top;
    font-size: 15px;
    margin: 0;
}

body.light-mode {
    background: #f4f4f4;
    color: #121212;
}

body.light-mode .container {
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}

body.light-mode h1,
body.light-mode h2 {
    color: #121212;
    border-bottom: 2px solid #007acc; /*#007acc;*/
}

body.light-mode header a {
    color: #007acc;
    border: 1px solid #007acc;
}

body.light-mode header a:hover {
    background: #007acc;
    color: #ffffff;
}

body.dark-mode {
    background: #121212;
    color: #e0e0e0;
}

body.dark-mode .container {
    background: #1e1e1e;
    box-shadow: 0 0 10px #333;
}

body.dark-mode h1,
body.dark-mode h2 {
    color: #ffffff;
    border-bottom: 2px solid #00bcd4;
}

body.dark-mode header a {
    color: #00bcd4;
    border: 1px solid #00bcd4;
}

body.dark-mode header a:hover {
    background: #00bcd4;
    color: #121212;
}

#themeToggle {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

body.light-mode button {
    background-color: #007acc;
    color: white;
}

body.light-mode button:hover {
    background-color: #005f99;
}

body.dark-mode button {
    background-color: #00bcd4;
    color: #121212;
}

body.dark-mode button:hover {
    background-color: #0097a7;
}

.buttonright {
    text-align: right;
}